/* Center the form container */
.form-container {
    width: 300px;
    margin: 0 auto;
  }
  
  /* Add some padding to the form fields */
  .mat-form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  /* Style the buttons */
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  /* Apply margin-bottom to the first button */
  .buttons button:first-child {
    margin-bottom: 20px;
  }
  